BasedOnStyle: Google
PointerAlignment: Left
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true
AllowShortFunctionsOnASingleLine: Inline
ColumnLimit: 120
AccessModifierOffset: -2
